<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383641169877-8dmfbkk43a5umhlkpdjilvmas6hln9fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383641169877-8dmfbkk43a5umhlkpdjilvmas6hln9fc</string>
	<key>API_KEY</key>
	<string>AIzaSyB5MZkFQo0l1hkc3Aj5UJkOfwjmDXIpX38</string>
	<key>GCM_SENDER_ID</key>
	<string>383641169877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.react.native.demoapp</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-55707</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-55707.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383641169877:ios:0899815d61647a13ded75c</string>
</dict>
</plist>